{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" href="{% static 'reviews.css' %}?v1.2">
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}


    <div class="container " style="margin-top: 200px">
        <h1 style="font-family: 'Permanent Marker', cursive; text-align: center; margin-bottom: 50px">Reviews</h1>
        {% for review in reviews %}
            <div id="review-card-{{ review.id }}" class="card-body mb-5" style="background-color: #2f2d2d;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row no-gutters">
                            <a href="{% url 'films:detail' id=review.film.id %}"><img src="{{ review.film.poster.url }}"
                                                                                      class="card-img" style=""
                                                                                      alt="..."></a>
                        </div>
                    </div>

                    <div class="col-md-9" style="margin-top: 50px;">
                        <p>
                            Last Update: <span class="date"><span
                                class="icon-calendar"></span> {{ review.date }}</span>

                        </p>
                        <a href="{% url 'profile:detail' id=review.id %}"
                           style="color: #807575">{{ review.body|truncatechars:280 }}</a>
                        <p>
                        <p>created by <i>{{ review.author.username }}</i> <img
                                src="{{ review.author.profile.picture.url }}"
                                style="width: 5%;border-radius: 100%; margin-left: 5px"
                                alt="">

                        </p>
                        <p class="delete-icon"><a href="#"
                                                  onclick="DeleteReview({{ review.id }});"><i
                                class="fas fa-trash-alt fa-2x"></i></a></p>

                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        function DeleteReview(review_id) {

            bootbox.confirm({
                title: "Delete Review?",
                message: '<p style="color: #0b0b0b; text-align: center"> Do you really want to delete record? This cannot be undone.</p>',
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "{% url 'profile:delete review ajax' %}",
                            data: {
                                review_id: review_id,
                                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                            },
                            datatype: 'json',
                            success: function (data) {
                                if (data['success']) {

                                    $("#review-card-" + review_id).remove()


                                }


                            }
                        });
                    } else {
                        bootbox.alert({
                            message: '<p style="color: #0b0b0b; text-align: center; margin-top: 50px">Record not deleted.</p>'
                        });
                    }
                }
            });

        }
    </script>


{% endblock %}

