{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Watchlist</title>

    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'watchlist.css' %}?v1.1">
{% endblock %}
{% block body %}


    <div class="container" style="margin-top: 250px">
        <h2 style="text-align: center">Watchlist</h2> <br> <br>
        <div class="row">

            {% for movie in movies %}


                <div id="movie-card-{{ movie.film.id }}" class="col-md-3" style="margin-bottom: 20px">
                    <a href="{% url 'films:detail' id=movie.film.id %}">
                        <div class="card card-flip h-100" style="border: #00CCFF; background-color: #0b0b0b">
                            <div class="card-front " style="background-color: #0b0b0b">
                                <div class="card-body">
                                    <img src="{{ movie.film.poster.url }}" alt="" style="max-width: 210px">
                                </div>
                            </div>
                            <div class="card-back" style="background-color: #0b0b0b">
                                <div class="card-body" style="background-color: #0b0b0b">
                                    <h3 class="card-title">{{ movie.film.title }}</h3>
                                    <p class="card-text">{{ movie.film.body }}</p>
                                    <form id="form-watch-{{ movie.film.id }}" method='post'
                                          style="padding-left: 40px;">{% csrf_token %}
                                        <button style="background-color: transparent; border: transparent; margin-left: 25px"
                                                onclick="remove_watchlist({{ movie.film.id }})"
                                                class="btn btn-secondary" value="{{ movie.film.id }}">
                                            <i class="fas fa-eye fa-3x" ></i>
                                        </button>
                                        <p class="text-muted" style="margin-left: 33px; margin-top: -5px"> Watch</p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>



            {% endfor %}

        </div>
    </div>
    <script>

        function remove_watchlist(film_id) {
            console.log("#movie-card" + film_id);
            $.ajax({
                type: "POST",
                url: "{% url 'profile:watchlist ajax' %}",
                data: {
                    film_id: film_id,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                datatype: 'json',
                success: function (data) {
                    if (data['success']) {
                        $("#movie-card" + film_id).remove();


                    }

                }
            });
        }

    </script>


{% endblock %}