.card-text {
    font-family: 'Neuton', serif;
    font-size: larger;
    font-weight: bolder;
    color: #4d4c7d;

}

.card {
    background-color: #dbc6eb;
    top: 100px;
}
.edit-review{

    padding-left: 780px;
    margin-bottom: 20px;

    margin-top: 80px;
}
.edit{
    color: #dbc6eb;
}