{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'film_detail.css' %}?v1.2">
    <title>{{ detailed_film.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 200px">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ detailed_film.poster.url }}" style="max-width: 360px" alt="">
            </div>
            <div class=" col-md-6" style="margin-left: 130px">
                <p>{{ detailed_film.title }}</p>
                <p>{{ detailed_film.body }}</p>
                <div class="inline-genres">
                    {% for genre in genres %}
                        <a class="btn-sm mr-2 btn-secondary"
                           href="{% url 'genre_detail' id=genre.id %}"> {{ genre.name }}</a>
                    {% endfor %}
                </div>
                <br> <br>
                <div class="inline-buttons">
                    {% if user.is_authenticated %}
                        <div class="watched-btn" style="display: inline">
                            <a
                                    {% if reviewed %}
                                        href="{% url 'profile:detail' id=review.id %}"
                                        style="margin-right: 25px; color: #0c8212"
                                    {% else %}

                                        {% if added %}
                                        id="watched-eye"
                                        href="#"
                                        style="margin-right: 25px; color: #0c8212"
                                        onclick="Watched({{ detailed_film.id }});"
                                        {% else %}
                                        href="#"
                                        id="watched-eye"
                                        style="margin-right: 25px; color: #726f6f "
                                        onclick="Watched({{ detailed_film.id }});"
                                        {% endif %}
                                    {% endif %}


                            ><i class="fas fa-eye fa-3x"></i></a>

                        </div>
                        <div class="like-btn" style="display: inline">
                            <a href="#" id="like"
                                    {% if liked %}
                               style="margin-right: 25px; color: #7c071b"
                                    {% else %}
                               style="margin-right: 25px; color: #726f6f"
                                    {% endif %}
                               onclick="Like({{ detailed_film.id }});"><i class="fas fa-heart fa-3x"></i></a>
                        </div>
                        <div class="watchlist-btn" style="display: inline">

                            <a href="#" id="watchlist"
                                    {% if added_watchlist %}
                               style="color: #5fdde5"
                                    {% else %}
                               style="color: #726f6f"
                                    {% endif %}
                               onclick="WatchLater({{ detailed_film.id }});"><i
                                    class="fas fa-plus fa-3x"></i></a>


                        </div>
                        <p>
                            {% if review %}
                                <h6 class="text-muted" id="watched-text"
                                    style="display: inline; font-size: 15px;margin-right: 5px ">
                                    Reviewed</h6>
                            {% else %}
                                {% if added %}
                                    <h6 class="text-muted" id="watched-text" style="display: inline">Watched</h6>
                                {% else %}
                                    <h6 class="text-muted" id="watched-text"
                                        style="display: inline; font-size: 15px; margin-right: 20px; margin-left: 5px">
                                        Watch</h6>
                                {% endif %}
                            {% endif %}

                        <h6 id="like-text"
                            style="display: inline; font-size: 15px; margin-right: 20px; margin-left: 14px">Like</h6>
                        <h6 style="display: inline; font-size: 15px; margin-right: 20px; margin-left: 5px ">
                            Watchlist</h6>
                        </p>

                        <p>
                            {% if reviewed %}
                                <a id="add-click" style="display: block" href="javascript:void();" onclick="AddReview()"> Add Another
                                    Review</a>
                            {% else %}
                                <a id="add-click" style="display: block" href="javascript:void();" onclick="AddReview()"> Add Review</a>
                            {% endif %}


                        <form id="add-review-form" style="display: none" class="add-review-form"
                              action="{% url 'profile:add review' id=detailed_film.id %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input onclick="FormSubmitted()" type="submit" class="btn-outline-primary"
                                   value="Add Review">

                        </form>



                        </p>



                    {% endif %}
                </div>
            </div>
        </div>
    </div>





    <br> <br> <br>
    {% if film_reviews %}
        <div id="reviews-container" class="container"
             style="max-width: 1500px; margin-top: 100px; margin-bottom: 100px">
            <h3 style="text-align: center">Reviews</h3> <br>
            <div class="row">
                {% for review,review_liked in reviews_with_likes %}

                    <div id="review-cell" class="col-md-6">
                        <div id="card-{{ review.id }}" class="card mb-5 mr-5"
                             style="max-width: 750px; background-color: #222; border-left: transparent; border-right:
                             transparent; border-bottom-color: #5f5d5b; border-top-color:#5f5d5b">
                            <div class="card-body">
                                            <span class="date"><span
                                                    class="icon-calendar"></span> {{ review.date }} </span>
                                <h5 class="card-title"><a href="{% url 'films:detail' id=review.film.id %}"
                                                          class="film">{{ review.film.title }}</a></h5>
                                <h6 class="text-muted">
                                    {% if review.rating %}
                                        <i style="margin-right:10px; color: #fddb3a " class="fas fa-star"></i>
                                        {{ review.rating }}
                                    {% endif %}
                                </h6>
                                <p class="card-text"><a
                                        href="{% url 'profile:detail' id=review.id %}">{{ review.body|truncatechars:200 }}</a>
                                </p>
                                <p class="card-text"><small class="text-muted">
                                    {% if user.is_authenticated %}
                                        <div class="like-btn" style="display: inline; margin-right: 10px">
                                            <a href="javascript:void();" id="review-like-{{ review.id }}"
                                                    {% if review_liked %}
                                               style="color: #7c071b;display: inline"
                                                    {% else %}
                                               style="color: #726f6f;display:inline;"
                                                    {% endif %}
                                               onclick="ReviewLike({{ review.id }});"><i
                                                    class="fas fa-heart fa-2x"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if user == review.author %}
                                        <a style="margin-right: 10px" href="javascript:void();"
                                           onclick="DeleteReview({{ review.id }});"><i
                                                class="fas fa-trash-alt fa-2x"></i></a>
                                    {% endif %}
                                    reviewed
                                    by {{ review.author }} </small>
                                    <img src="{{ review.author.profile.picture.url }}"
                                         style="width: 8%; border-radius: 100%; margin-left: 7px" alt="">
                                </p>
                            </div>
                        </div>
                    </div>


                {% endfor %}


            </div>
        </div>


    {% endif %}
    <br>

    <script>
        function WatchLater(film_id) {
            console.log("ipek");
            $.ajax({
                type: "POST",
                url: "{% url 'profile:watchLaterAjax' %}",
                data: {
                    film_id: film_id,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                datatype: 'json',
                success: function (data) {
                    if (data['success']) {
                        console.log("success");
                        $("#watchlist").css('color', '#5fdde5')


                    } else {
                        $("#watchlist").css('color', '#726f6f')


                    }


                }
            });
        }

        function Watched(film_id) {
            console.log("calisiyor mu");
            $.ajax({
                type: "POST",
                url: "{% url 'profile:watchedAjax' %}",
                data: {
                    film_id: film_id,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                datatype: 'json',
                success: function (data) {
                    if (data['success']) {
                        console.log("alooo");
                        $("#watched-eye").css('color', '#0c8212')
                        $("#watched-eye").css('margin-left', '8px')
                        $("#watched-text").html("Watched")


                    } else {
                        console.log("xxxxx");
                        $("#watched-eye").css('color', '#726f6f')
                        $("#watched-eye").css('margin-left', '3px')
                        $("#watched-text").html("Watch")


                    }


                }
            });
        }


        function Like(film_id) {
            console.log("ipek");
            $.ajax({
                type: "POST",
                url: "{% url 'profile:likeAjax' %}",
                data: {
                    film_id: film_id,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                datatype: 'json',
                success: function (data) {
                    if (data['success']) {
                        $("#like").css('color', '#7c071b')
                        $("#like-text").html("Liked")


                    } else {
                        $("#like").css('color', '#726f6f')
                        $("#like-text").html("Like")


                    }


                }
            });
        }
    </script>
    <script>
        function DeleteReview(review_id) {
            console.log("xxxx");

            bootbox.confirm({
                title: "Delete Review?",
                message: '<p style="color: #0b0b0b; text-align: center"> Do you really want to delete record? This cannot be undone.</p>',
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result) {
                        console.log("calisti");
                        $.ajax({
                            type: "POST",
                            url: "{% url 'profile:delete review ajax' %}",
                            data: {
                                review_id: review_id,
                                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                            },
                            datatype: 'json',
                            success: function (data) {
                                if (data['success']) {

                                    $("#card-" + review_id).remove()


                                }


                            }
                        });
                    } else {
                        bootbox.alert({
                            message: '<p style="color: #0b0b0b; text-align: center; margin-top: 50px">Record not deleted.</p>'
                        });
                    }
                }
            });

        }
    </script>
    <script>
        function AddReview() {
            $('#add-click').css('display', 'none');
            $('#add-review-form').css('display', 'block');

        }

        function FormSubmitted() {
            $('#add-click').css('display', 'block');
            $('#add-click').html("Add Another Review");
            $('#add-review-form').css('display', 'none');


        }
    </script>
    <script>
        function ReviewLike(review_id) {
            $.ajax({
                type: "POST",
                url: "{% url 'profile:like review ajax' %}",
                data: {
                    review_id: review_id,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                datatype: 'json',
                success: function (data) {
                    if (data['success']) {
                        $("#review-like-"+review_id).css('color', '#7c071b')



                    } else {
                        $("#review-like-"+review_id).css('color', '#726f6f')



                    }


                }
            });
        }
    </script>

{% endblock %}